* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#d5d0b3;
}
.header {
  background-color: #595235;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding:10px;
  top: 0;
  z-index: 1000;
}
.logo img{
    height: 43px;
}
.hamburger{
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  height: 100vh;
  background: #111;
  transition: 0.3s ease;
  padding-top: 80px;
  color: rgb(255, 255, 255);
  overflow-y: auto;
  z-index: 100;
   background: rgba(220, 215, 190, 0.6); /* semi-transparent */
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.menu ul li{
  list-style: none;
  padding: 15px 20px;
}
.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.menu.active {
  right: 0;
  transform: translateX(0);
  opacity: 1;
}
.parent-container{
  margin: 20px;
}
.menu-title{
  text-align: center;
  color: #595235;
  font-size: 36px;
  margin: 30px 0;
  position: relative;
   font-family: "Pacifico", cursive;
}
.menu-title::after{
  content: "";
  width: 100px;
  height: 3px;
  background: #595235;;
  display: block;
  margin: 10px auto 3px;
}
.items-grid{
  display: grid;
  grid-template-columns: 3fr;
  gap: 20px;
}
.menu-item{
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.menu-item img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  display: block;
  padding: 18px;
}
.menu-item h3 {
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: center;
}
.menu-item p {
  flex-grow: 1;
  font-size: 16px;
  padding: 0px 26px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}
@media (min-width: 768px) {
  .items-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .menu-item img {
    height: 220px;
  }
}
.menu-item {
  animation: fadeUp 0.6s ease both;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.footer {
  background-color: #595235;
  color: #ffffff;
  padding: 60px 20px 20px;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  align-items: start;
}
.footer-container .footer-col:nth-child(2) {
  padding-left: 40px;
}
.footer-logo {
  width: 250px; 
  margin-bottom: 12px;
  display: block;
}
.footer-col{
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  color:#eae7da;
}
.footer-col h4 {
  color: #fffffe;
  margin-bottom: 14px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.footer-col p {
  margin: 8px 0;
  line-height: 1.7;
  color:#d5d0b3;
   font-family: 'Poppins', sans-serif;
   white-space: nowrap;
}
.footer-col i {
  margin-right: 8px;
   color:#eae7da;
}
.social-icons {
  display: flex;
  gap: 14px;
  margin-top: 18px;
}

.social-icons i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(255,255,255,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  color:#d5d0b3;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 14px;
  border-top: 1px solid rgba(255,255,255,0.15);
  font-size: 20px;
  color:#d5d0b3;
}
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
  .footer-logo {
    display: block;
    margin: 0 auto 12px;
  }
}


